/* Cascading stylesheet for the website */
/*Media queries */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  img{
    width: 100%;
    height: 80%;
    }
}
@media only screen and (min-width: 768px)  {
  /* For mobile phones: */
  img{
    height: 100%;
    width: 100%;
  }
}

/* Text inside these asterisks and slashes are comments for human */
/* p{
  width:600px;
} */
  a {
    color: blue;/* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
  color: red;  /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    background-color: black; /* set the background color here */
    color: white;/* set the text color to black here */
    font-family: Arial,helvetica,sans-serif; /* set the font here */
    /*text-align: center;/* set the text alignment here */
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    color: #075AAB;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0;
    /*text-align: left;*/
  }
  

  .leftAlign, li{
    text-align: left;
  }
  .leftAlign{
    text-align: left;
  }
 .leftAlign div{
    border: 1px solid white;
  }


  /*test marquee*/

  /* Make it a marquee */
.marquee {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;
}

.marquee:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
  0%   { text-indent: 27.5em }
  100% { text-indent: -105em }
}

/* Make it pretty */
/* .microsoft {
  padding-left: 1.5em;
  position: relative;
  font: 16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
} */

/* ::before was :before before ::before was ::before - kthx */
.microsoft:before, .microsoft::before {
  z-index: 2;
  content: '';
  position: absolute;
  top: -1em; left: -1em;
  /* width: .5em; height: .5em;
  box-shadow: 1.0em 1.25em 0 #F65314,
          1.6em 1.25em 0 #7CBB00,
          1.0em 1.85em 0 #00A1F1,
          1.6em 1.85em 0 #FFBB00; */
}

.microsoft:after, .microsoft::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 2em; height: 2em;
  /* background-image: linear-gradient(90deg, white 70%, rgba(255,255,255,0)); */
}

/* Style the links */
.vanity {
  color: #333;
  text-align: center;
  font: .75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.vanity a, .microsoft a {
  color: #1570A6;
  transition: color .5s;
  text-decoration: none;
}

.vanity a:hover, .microsoft a:hover {
  color: #F65314;
}

/* Style toggle button */
.toggle {
display: block;
  margin: 2em auto;
}


/*Flyout*/
.flyout{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.close{
  float: right;
  margin-right: 20px;
  font-size: x-large;
}
.hoverCursor li{
cursor:pointer;
}
.setmargin{
  margin:0;
}

.mainDiv{
padding:30px;
  border: 1px solid white;
}
